<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Elect.Loader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="default" connectionString="Data Source=.;Initial Catalog=elect;Integrated Security=True"/>
	</connectionStrings>
 <userSettings>
  <Elect.Loader.Properties.Settings>
   <setting name="RuelectImportFilePath" serializeAs="String">
	<value />
   </setting>
   <setting name="KartaitogovImageFolder" serializeAs="String">
	<value />
   </setting>
  </Elect.Loader.Properties.Settings>
 </userSettings>
</configuration>